<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
        <%time = Time.new%>
        <%time = time.strftime("%A, %B %e, %Y")%>
		<h1>The date is <%=time%>/h1>
		<p>This is the info page: here's some information about me!</p>
	</body>
</html>